@font-face {
  font-family: 'Monument';
  src: url('../Resources/Monument/MonumentExtended-Regular.woff2') format('woff2'),
       url('../Resources/Monument/MonumentExtended-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Monument';
 src: url('../Resources/Monument/MonumentExtended-Ultrabold.woff2') format('woff2'),
       url('../Resources/Monument/MonumentExtended-Ultrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
:root{
  --clr-accent: #50a584;

  --ff-primary: 'Montserrat', system-ui, sans-serif;
  --ff-secondary: 'Monument', system-ui, sans-serif;

  
  --fs-100: 0.3125rem;
  --fs-200: 0.5rem;     
  --fs-300: 0.75rem;  
  --fs-400: 0.875rem; 
  --fs-500: 1rem;
  --fs-550:1.125rem;     
  --fs-600: 1.25rem;   
  --fs-700: 2.25rem;  
  --fs-800: 3rem;     
  --fs-900: 3.375rem;   
  --fs-950: 4.5rem;

  --sz-100: 0.3125rem;
  --sz-200: 0.5rem;     
  --sz-300: 0.75rem;  
  --sz-400: 0.875rem; 
  --sz-500: 1rem;     
  --sz-600: 1.5rem;   
  --sz-700: 2.25rem;  
  --sz-800: 3rem;     
  --sz-900: 3.375rem;   
  --sz-950: 4.5rem;

  --fs-btn: var(--fs-400);
  --fs-primary-nav:var(--fs-400);
  --fs-secondary-nav:var(--fs-300);

  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}
.clr-accent{
  color: var(--clr-accent) !important;
}
.bg-accent{
  background-color: var(--clr-accent) !important;
}
.fw-100{
  font-weight: var(--fw-100);
}
.fw-300{
  font-weight: var(--fw-300);
}
.fw-400{
  font-weight: var(--fw-400);
}
.fw-500{    
  font-weight: var(--fw-500);
}
.fw-600{    
  font-weight: var(--fw-600);
}
.fw-700{  
  font-weight: var(--fw-700);
}
.fw-800{  
  font-weight: var(--fw-800);
}
.fw-900{   
  font-weight: var(--fw-900);
}
.fs-btn{
  font-size: var(--fs-btn);
}
.fs-primary-nav{
  font-size: var(--fs-primary-nav);
}
.fs-secondary-nav{
  font-size: var(--fs-secondary-nav);
}
.ff-primary{
  font-family: var(--ff-primary);
}
.ff-secondary{
  font-family: var(--ff-secondary);
}
.fs-100{
  font-size: var(--fs-100);
}
.fs-200{     
  font-size: var(--fs-200);
}
.fs-300{  
  font-size: var(--fs-300);
}
.fs-400{ 
  font-size: var(--fs-400);
}
.fs-500{     
  font-size: var(--fs-500);
}
.fs-550{     
  font-size: var(--fs-550);
}
.fs-600{   
  font-size: var(--fs-600);
}
.fs-700{  
  font-size: var(--fs-700);
}
.fs-800{     
  font-size: var(--fs-800);
}
.fs-900{   
  font-size: var(--fs-900);
}
.fs-950{
  font-size: var(--fs-950);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within, html {
  scroll-behavior: smooth;
}
.ff-secondary{
  font-family: var(--ff-secondary) !important;
}
body{
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  line-height: 1.1;
  box-sizing: border-box;
  background-color: #000000 !important;
 color: #ffffff !important;
}
h1{
  font-family: 'Monument', system-ui, sans-serif;
  font-weight: 400;
   font-size: var(--fs-700);
}
h2{
  font-family: 'Monument', system-ui, sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}
.nav-link{
    font-family: 'Monument', system-ui, sans-serif;
    font-weight: 400;
    color: #ffffff !important;
    font-size: 20px;
}
.dropdown-menu{
    border: none !important;
    margin-left: var(--sz-400) !important;
    padding: 0;
    opacity: 0.8;
    background: none !important;
}
.dropdown-menu:active{
    color: white;
}
.dropdown-item{
    font-size:var(--fs-500) ;
    color: white;
    background-color: black !important;
}
.nav-link:hover, .nav-button .btn:hover{
    color: white;
    opacity: 0.9;
}   
.border-active:active{
    border: 1px solid white;
    border-radius: 0;
}


.nav-link:focus,
.nav-link:focus-visible,
.nav-link.active,
.nav-link[aria-expanded="true"],
.dropdown.show > .nav-link.dropdown-toggle,
.dropdown.show > .dropdown-toggle {
  color: #ffffff !important;
  opacity: 0.9 !important;
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-close {
  --bs-btn-close-color: #ffffff;
  opacity: 1 ;
}
.btn-close:active, .btn-close:focus-within {
  border: none;
  box-shadow: none;
  opacity: 0.8;
}
    .photo {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.4 ) 60%),
    url('/src/img/cover1.png') center/cover no-repeat;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px) !important;
  
}
.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;

}
.video-container iframe {
  width: 100%;
  height: 100%;
}
hr {
  height: 1px;   
  border: none;            
  background: #ffffff;
  opacity: 0.8;
 
}
.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 80px 10px 10px;
  border: none;
  border-bottom: 1px solid #353434;
  outline: none;
  background: #000000;
  color: white;
}

.input-wrapper button {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  padding: 8px 16px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.input-wrapper button:hover {
  background: #ffffff;
  color: #000000;
}
.outline p{
  margin-top: 15px;
}
.play{
  padding: 0.5rem 1rem;
}
.player{
  padding: 1rem;
}
.sos{
  overflow-x: hidden !important;
}
.navbar{
  position: fixed !important;
  z-index: 1000;
  background: rgba(0,0,0,0.7 );
  width: 100%;
  top: 0;

}

@media (max-width:768px) {
  .nav-link, .ff-secondary, .fs-14{
    font-size: var(--fs-400);
}
h1{
  font-size: 1.375rem;
}
h2{
  font-size: 1rem;}
  .fs-btn{
    font-size: var(--fs-300);
  }
}
@media (max-width:480px) {
  .nav-socials{
    display: none;
  }
  .col-9{
    width: 70%;
  }
}
@media (min-width:768px) {
  .play{
    padding: 0.75rem 1.5rem !important;
    font-size: 18px !important;
  }
  .player{
    font-size: var(--fs-700);
            padding: 14px 30px !important;
  }
  .card-btn{
    margin: 4rem 0;
  }
  .footer-nav{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .footer-socials{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
  }
  .sos{
    justify-content: flex-end;
  }
  .nav-link{
    font-size: var(--fs-600) !important;
  }
}
@media (min-width:1000px) {
 .hero-content{
  display: flex !important;
    align-items: center;
    gap: 5rem;
  }
  .image{
    width: 40% !important;
    max-width: 400px;
  }
  .outline{
    width: 60% !important;
  }
  .hero-header{
    padding-top: 15rem !important;
  }
  .hero-content{
    margin-bottom: 8rem;
  }
  .stream{
    margin-bottom: 5rem !important;
  }
  .fs-16{
    font-size: var(--fs-600) !important;
  }
}
@media (min-width:1200px) {
  h1{
  font-size: 48px !important;
}
h2{
  font-size: 38px !important;}
    .image{
    max-width: 800px;
  }
  .outline{
    width: 60% !important;
  }
  .container-fluid {
    position: relative;
  }


  .nav-socials {
    position: absolute;
    right: 1.5rem;    
    top: 5rem;       
    margin: 0;
    

  }
.nav-socials-ul{
  flex-direction: column !important;
  align-items: center;
}
.navbar{
  background: rgba(0,0,0,0 ) !important;
}
 
}


.off-canvas{
  background: #000000;
  z-index: 2000;
}
.nav-socials-ul{
  padding: 0 !important;
  margin: 0 !important;
}